name: ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:

  test:
    runs-on: ubuntu-latest
    container: jrottenberg/ffmpeg:6-ubuntu

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          apt update
          apt install -y --no-install-recommends clang curl pkg-config

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable

      - name: Test
        run: cargo test --workspace --all-features --release

  lint:
    runs-on: ubuntu-latest
    container: jrottenberg/ffmpeg:6-ubuntu

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          apt update
          apt install -y --no-install-recommends clang curl pkg-config

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy

      - name: Rustfmt
        run: cargo fmt --all -- --check

      - name: Clippy
        run: |
          cargo clippy --tests --examples --all --all-features -- -D warnings
